<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="static/nav.css" rel="stylesheet">
</head>
<body>

<header>

    <h1>MySoundBoard</h1>
    <nav>
        <ul>
            <li><a href="inscription.html">S'incrire</a></li>
            <li><a href="login.html">Seconnecter</a></li>
            <li><a href="https://google.fr">En savoir plus</a></li>


        </ul>

    </nav>

</header>

<main>
    <img src="images/image.jpg" height="500px">
</main>
</body>
</html>