<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Inscription</title>
	<link rel="stylesheet" href="static/inscription.css">
	<link rel="stylesheet" href="static/nav.css">

</head>
<body>
	<header>
		<div id="registration">
<h2>Inscription dans MySoundBoard</h2>
<form id="RegisterUserForm" action="" method="post">
<fieldset>
<label for="nom">Nom</label> <input class="text" id="nom" type="text" name="nom" value="" required/>
<br>
<br>
<br>
<label for="prenom">Prenom</label> <input class="text" id="prenom" type="text" name="prenom" value="" required/>
<br>
<br>
<br>
<label for="email">Email</label> <input class="text" id="email" type="email" name="email" value="" required/>
<br>
<br>
<br>
<label for="telephone">Telephone</label> <input class="number" id="telephone" type="telephone" name="telephone" required/>
<br>
<br>
<br>
<label for="password">Password</label> <input class="text" id="password" type="password" name="password" required/>
<br>
<br>
<br>
<label for="username">Pseudo</label> <input class="text" id="username" type="text" name="username" value="" required/>
<br>
<br>
<br>
<button id="registerNew" type="submit">Register</button></fieldset>
</form></div>
	</header>

</body>
</html>