<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="static/inscription.css">
	<link rel="stylesheet" href="static/nav.css">
</head>
<body>
	<header>
		<div id="registration">
<h2>Inscription dans MySoundBoard</h2>
<form id="RegisterUserForm" action="" method="post">
	<label for="username">Pseudo</label> <input class="text" id="username" type="text" name="username" value="" />
	<br>
	<label for="password">Password</label> <input class="text" id="password" type="password" name="password" />
	<br>
	<button id="registerNew" type="submit"> Connecter </button>
	<a href="home.html">Inscription</a>
</body>
</html>